.loader{
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
}
.loader div{
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    margin: 8px;
    border: 2px solid red;
    border-color: red transparent transparent transparent;
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.loader div:nth-child(1) {
    animation-delay: -0.4s;
}
.loader div:nth-child(2) {
    animation-delay: -0.3s;
}
.loader div:nth-child(3) {
    animation-delay: -0.2s;
}
.loader div:nth-child(4) {
    animation-delay: -0.1s;
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
