.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    max-width: 800px;
    min-height: 600px;
    background-color: #efefef;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: right;
}
.container__email p {
    color: gray;
}
.container__email__body > div {
    white-space: pre-line;
    font-size: 11px;
    background-color: white;
    border-radius: 3px;
    width: 75%;
    float: right;
    margin: 10px 0;
    padding: 15px 10px;
}
.container__email__body > textarea, .container__reasons > input {
    width: 75%;
    text-align: right;
    padding: 15px 10px;
}
