.reasons  {
    list-style: none;
}
.reasons__node__withChildren label {
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
}
.reasons__node__withChildren label::after {
    content: "\25c4";
    position: absolute;
    top: 2px;
    right: -18px;
    transition: all 0.5s;
}
.reasons__node__withChildren__checkbox {
    display: none;
}
.reasons__node__withDescription{
    padding: 6px 0;
}
.reasons__node__withDescription__checkbox{
    margin-left: 8px;
}
li.reasons__node ul {
    visibility: hidden;
    opacity: 0;
    padding: 6px;
    max-height: 0;
    transition: all 0.5s;
    list-style: none;
}
li.reasons__node input:checked ~ ul {
    visibility: visible;
    opacity: 1;
    max-height: 900px;
}
li.reasons__node input:checked ~ label::after {
    transform: rotate(-90deg);
}
